{% extends 'base.html' %}
{% load static  %}

<!-- this needs a lot of work done to make it look good!!-->
{% block content %}
<link rel="stylesheet" href="{% static 'user_profile/index.css' %}">
<style>
   .content input[type=text], input[type=password], input[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.content input[type=submit],input[type=button] {
    width: 40%;
    background-color: #E08500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .content input[type=submit]:hover {
    background-color: #c57600;
  }
  .posts{
        align-content: center;
        position: relative;
        width:50%;
        height:auto;
        margin-left: auto;
        margin-right: auto;
    }
    

</style>
<div class ="content">
    <div class="posts">
        <div class="post">
        <form action="{% url 'processPost' %}", method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{postForm.as_p}}
            <input type="submit" value="Submit">            
        </form>
        </div>
    </div>
</div>
{% endblock %}