{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<script src="{%static 'js/postInteraction.js' %}"></script>


<!-- HTML Layout for posts on the news page -->
<!-- hey so this sucks ass because I was just testing things
things that need to be changed/ added:
    -currently the shared post template is just two regular post templates nested in eachother
    -replace them with two different things, because its ugly af rn
    -the shared posts need their own ajax functions and or models for liking, if we choose to make them interactable
    -the general post css needs to be better, images spill out of the borders 247 and thats no good (also my fault)
-Felix
-->

<div class="posts">
{% for post in posts %}
<!-- this determines if its a shared post or nah -->
{% if post.originPost %}
<div class="post" id="{{post.id}}">
    <div class="post_header">
        <img class ="post_icon" src="{{post.user.profile.photo.url }}">
        <a class="post_username" href="{% url 'user_profile' %}?username={{post.user}}">{{post.user}}</a> Shared a post
        <p id="date">{{post.date_posted}}</p>
    </div>
    <div class="post_text">
        <p>

               {{post.description}}

        </p>
    </div>
    <div class="post_content">
    <!-- original source post goes here -->

    <div class="post" id="{{post.originPost.id}}">
        <div class="post_header">
            <img class ="post_icon" src="{{post.originPost.user_name.profile.photo.url }}">
            <a class="post_username" href="{% url 'user_profile' %}?username={{post.originPost.user_name}}">{{post.originPost.user_name}}</a>
            <p id="date">{{post.originPost.date_posted}}</p>
        </div>

        <div class="post_content">
            <img src="{{post.originPost.pic}}">


        </div>
        <div class="post_text">
            <p>

                   {{post.originPost.description}}

            </p>
        </div>
        <div class="post_interactables">
            <!-- these arent errors, dont treat them as such-->
            <div><button class="btn" onclick='likePost({{post.originPost.id}})' id='likeButton'>
            <span class="btn-icon">❤</span>
            <span class="btn-text">Like</span>
            </button></div>
            <div><button class="btn" onclick='showCommentPopup({{post.originPost.id}})'>
            <span class="btn-icon">💬</span>
            <span class="btn-text">Comment</span>
            </button></div>
            <div><button class="btn" onclick='prepForSharing({{post.originPost.id}})'>
            <span class="btn-icon">📩</span>
            <span class="btn-text">Share</span>
            </button></div>
        </div>
    </div>
<script>
    isLiked({{post.originPost.id}});
</script>


    </div>
    
    
</div>

<!-- this section is for non shared posts, just the regular ones-->
 {%else%}

    <div class="post" id="{{post.id}}">
        <div class="post_header">
            <img class ="post_icon" src="{{post.user_name.profile.photo.url }}">
            <a class="post_username" href="{% url 'user_profile' %}?username={{post.user_name}}">{{post.user_name}}</a>
            <p id="date">{{post.date_posted}}</p>
        </div>

        <div class="post_content">
            <img src="{{post.pic}}">


        </div>
        <div class="post_text">
            <p>

                   {{post.description}}

            </p>
        </div>
        <div class="post_interactables">
            <!-- these arent errors, dont treat them as such-->
            <div><button class="btn" onclick='likePost({{post.id}})' id='likeButton'>
            <span class="btn-icon">❤</span>
            <span class="btn-text">Like</span>
            </button></div>
            <div><button class="btn" onclick='showCommentPopup({{post.id}})'>
            <span class="btn-icon">💬</span>
            <span class="btn-text">Comment</span>
            </button></div>
            <div><button class="btn" onclick='prepForSharing({{post.id}})'>
            <span class="btn-icon">📩</span>
            <span class="btn-text">Share</span>
            </button></div>
        </div>
    </div>
<script>
    isLiked({{post.id}});
</script>
{%endif%}
{% endfor %}
</div>

{% endblock %}