{% extends 'base.html' %}

{% block content %}
<!-- Inline style -->
<style>

body{
    margin:0;
    background-color: #222132;
    color:white;
    font-family: 'Open Sans', sans-serif;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 500px;
    height: 25px;
}
.posts{
    align-content: center;
    position: relative;
    width:80%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}
.post{
    margin-top:5%;
    margin-bottom: 5%;;
    text-align: center;
    background-color: #333656;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #1A1B2F;
    flex-direction: column;
}
.post_header{
    margin-top:2%;
    margin-left:2%;
    flex: 0 3 50px;
    width: 100%;
    text-align: left;
}

.post_icon{
    display:inline;
    height:50px;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border-radius: 100%;
}
.post_username{
    text-decoration:none;
    color: white;
    font-weight: bold;
}
.date{
    font-weight: lighter;
}
.post_content{
    flex: 0 3 100px;
    margin:2%;
    margin-bottom:0%;
    border-radius: 25px;
    background-color: #89899E;
}
.post_text{
    margin:2%;
    margin-top: 0%;
    text-align: left;
    font-size: 14px;
}
.post_interactables{
    display: flex;
    justify-content:space-evenly;
    margin:2%;
}

.post_icon{
    display:iline;
    height:50px;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border-radius: 100%;
}



</style>

<!-- HTML Layout for posts on the news page -->
{% for post in posts %}

<div class="posts">

    <div class="post">
        <div class="post_header">
            <img class ="post_icon" src="{{post.user_name.profile.photo.url }}">
            <a class="post_username" href="{% url 'user_profile' %}?username={{post.user_name}}">{{post.user_name}}</a>
            <p id="date">{{post.date_posted}}</p>
        </div>

        <div class="post_content"> 
                <img id = "post_img" src="{{post.pic}}">
                {% if post.choose_file %}
                <video id = "post_vid" width = "850" height = "500" controls>
                    <source src = "{{post.choose_file}}" type ="video/mp4" />
                    Your browser does not support the <video> element.
                </video>                  
                <audio id = "post_audio" src = "{{post.choose_file}}" controls>
                    Your browser does not support the <audio> element.   
                </audio>                                                                  
                {% endif %}
        </div>
        <div class="post_text">
            <p>

                {{post.description}}

            </p>
        </div>
        <div class="post_interactables">
            <div>❤Like</div>
            <div>💬Comment</div>
            {% if artist %}
            <div>📩Share</div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}


<!--<script>

    n =  new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("date").innerHTML = m + "/" + d + "/" + y;

    function multiplyNode(node, count, deep) {
    for (var i = 0, copy; i < count - 1; i++) {
        copy = node.cloneNode(deep);
        node.parentNode.insertBefore(copy, node);
        }
    }

    multiplyNode(document.querySelector('.post'), 3, true);




</script>-->

{% endblock %}