{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'user_profile/index.css' %}">
<style>
    .post_text{
        margin-top:3%;
        column-count: 3;
        height: 40px;
        column-fill: balance;
        border-bottom: 1px solid #cccccc;
    }
    .posts{
        align-content: center;
        position: relative;
        width:50%;
        height:auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .edit{
        float: right;
    }
    
    a:link, a:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }
    .posts input[type=text], input[type=password], input[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.posts input[type=submit],input[type=button] {
    width: 40%;
    background-color: #E08500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.posts input[type=submit]:hover {
    background-color: #c57600;
  }

.c_icon{
    margin: auto;
    height: 200px;
    width: 200px;
}
.icon{
    width:inherit;
    align-content: center;
    border-radius: 100%;
    position:relative;
}
</style>
<!-- HTML Layout for posts on the news page -->
<div class="posts">
    
    <div class="post">
        
        
        <form action="{% url 'settings' %}", method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {%for field in Form%}
            <li>
                {{ field.errors }}
                {{ field.label_tag }}<br />
                {{field.type}}
                {% if field.label == 'Profile picture' %}
                <div class="c_icon"><img class="icon"src="{{ field.value.url }}"></div><br>
                {% endif %}
                {% for q in field %}
                    {{ q }}<br />
                {% endfor %}<br />
            </li>
            {%endfor%}
            <input type="submit"name='formType' value="Submit">
        </form>
        <!--Name  <pre>Alex O'Hare</pre> <a href><span class="edit">Edit</span></a>-->

        <!--Username <pre>TuneIn.com/HeroOfTime</pre> <a href><span class="edit">Edit</span></a>-->
        
        <!--<div class="post_text">
            Email <pre>alexohare@canadore.ca</pre> <a href><span class="edit">Edit</span></a>
        </div>
        <div class="post_text">
            Location <pre>North Bay, ON</pre> <a href><span class="edit">Edit</span></a>
        </div>
    -->
</div>
</div>
{% endblock %}