{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'user_profile/index.css' %}">
<style>
    .post_text{
    margin-top:3%;
    column-count: 3;
    height: 40px;
    column-fill: balance;
    border-bottom: 1px solid #cccccc;
    }
    .posts{
    align-content: center;
    position: relative;
    width:50%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.edit{
float: right;
}

a:link, a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


</style>
<!-- HTML Layout for posts on the news page -->
<div class="posts">

    <div class="post">

        <div class="post_text">
            Name  <pre>Alex O'Hare</pre> <a href><span class="edit">Edit</span></a>
        </div>
        <div class="post_text">
            Username <pre>TuneIn.com/HeroOfTime</pre> <a href><span class="edit">Edit</span></a>
        </div>
        <div class="post_text">
            Email <pre>alexohare@canadore.ca</pre> <a href><span class="edit">Edit</span></a>
        </div>
        <div class="post_text">
            Location <pre>North Bay, ON</pre> <a href><span class="edit">Edit</span></a>
        </div>
    </div>
</div>
{% endblock %}