{% extends 'loginpage/loginBase.html' %}

<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Log In{% endblock %}</title>
</head>
<body>
{% block content %}
    <h1>Hello!</h1>
    <div id="loginFields">
    <form action = "{% url 'processLogin' %}" method="post">
        {% csrf_token %}
        {{ LoginForm.as_p }}
        
        <input type="submit" value="Login">
    </form>
</div>
<div id="registrationFields">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{ RegistrationForm.as_p }}
        <input type="submit" value="Create New Account">
    </form> 
    
</div>
<input type="button" onclick="toggleVisiblilty()" value="New User?" id="loginToggle">
{% endblock %}
</body>
</html>

<!--messing with things, dont delete this just in case I messed things up - felix
        Username: <input type="text" id= "uid" name="userID" placeholder="Enter your username or email address..."><br><br>
        Password: <input type="password" id = "upw" name="userPW" placeholder="Enter your password..."><br><br>
        -->