{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<link href="{% static 'user_profile/index.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<script src="{%static 'js/postInteraction.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script defer src="{%static 'js/checkStatus.js' %}"></script><!-- defered to avoid nulled input-->
<div class="gridLayout">
    <div class="leftBorder"></div>
    <div class="middle">
        <div class="topInfo">
            {% if user %}
            <div class="c_icon"><img class="icon" src="{{user.profile.photo.url }}"></div>
            <div class="names">
                <h1 id="name">{{user.profile.first_name}} {{user.profile.last_name}}</h1>
                <h2 id="username">{{user.username}}</h2><span class="account_type">{% if artist%}Artist{%else%}Fan{%endif%}</span>
                <h3>Following: <span id="following"> {{user.profile.following}} </span>
                    {% if artist %}
                    • Followers: <span id="followers"> NAN </span></h3>
                {% endif %}


                <script type="text/javascript">
                        if("{{artist}}" == "True"){
                            var a = parseInt("{{followers}}");
                            document.getElementById("followers").innerHTML = numToStr(a);
                        }
                        var a = parseInt("{{following}}");
                        console.log(a);
                        document.getElementById("following").innerHTML = numToStr(a);




                </script>
                {%if otherUser%}
                {%if artist%}
                <button class='button' id='followButton' onclick="follow('{{user.username}}')" type="button">Follow +
                </button>
                {%endif%}
                <button class='button' id='friendButton' onclick="friend('{{user.username}}')" type="button">Friend +
                </button>
                {%endif%}
            </div>
            <br>
            <div class="bio">
                Bio:
                <p id="bio">{{user.profile.bio}}</p>
            </div>
            {% else %}
            User not found?
            Make sure the username in the url matches who you're looking for!
            {% endif %}
        </div>
        <br>
        <br>
        <div class="posts">
            {% if user %}
            {% if artist %}
            {% for post in posts %}

            {% if post.originPost %}
<div class="post" id="{{post.id}}">
    <div class="post_header">
        <img class ="post_icon" src="{{post.user.profile.photo.url }}">
        <a class="post_username" href="{% url 'user_profile' %}?username={{post.user}}">{{post.user}}</a> Shared a post
        <p id="date">{{post.date_posted}}</p>
    </div>
    <div class="post_text">
        <p>

               {{post.description}}

        </p>
    </div>
    <div class="post_content">
    <!-- original source post goes here -->

    <div class="post" id="{{post.originPost.id}}">
        <div class="post_header">
            <img class ="post_icon" src="{{post.originPost.user_name.profile.photo.url }}">
            <a class="post_username" href="{% url 'user_profile' %}?username={{post.originPost.user_name}}">{{post.originPost.user_name}}</a>
            <p id="date">{{post.originPost.date_posted}}</p>
        </div>

        <div class="post_content">
            <img src="{{post.originPost.pic.url}}">


        </div>
        <div class="post_text">
            <p>

                   {{post.originPost.description}}

            </p>
        </div>
        <div class="post_interactables">
            <!-- these arent errors, dont treat them as such-->
            <div>
                <button class="btn" onclick='likePost({{post.originPost.id}})' id='likeButton'>
            <span class="btn-icon">❤</span>
            <span class="btn-text">Like</span>
            </button></div>
            <div><button class="btn" onclick='showCommentPopup({{post.originPost.id}})'>
            <span class="btn-icon">💬</span>
            <span class="btn-text">Comment</span>
            </button></div>
            <div><button class="btn" onclick='prepForSharing({{post.originPost.id}})'>
            <span class="btn-icon">📩</span>
            <span class="btn-text">Share</span>
            </button></div>
        </div>
    </div>
<script>
    isLiked({{post.originPost.id}});
</script>


    </div>
    
    
</div>

<!-- this section is for non shared posts, just the regular ones-->
 {%else%}
            <div class="post" id="{{post.id}}">
                <div class="post_header">
                    <img class="post_icon" src="{{user.profile.photo.url }}">
                    <a class="post_username" href="">{{user.username}}</a>
                    <span class="date">{{post.date_posted}}</span>
                </div>
                {% if post.pic %}
                <div class="post_content">
                    <img class="" src="{{post.pic.url}}">
                </div>
                {%endif%}
                <div class="post_text">
                    <p>{{post.description}}</p>
                </div>
                <div class="post_interactables">
                    <!-- these arent errors, dont treat them as such-->
                    <div>
                        <button class="btn" id='likeButton' onclick='likePost({{post.id}})'>
                            <span class="btn-icon">❤</span>
                            <span class="btn-text">Like</span>
                        </button>
                    </div>
                    <div>
                        <button class="btn" onclick='showCommentPopup({{post.id}})'>
                            <span class="btn-icon">💬</span>
                            <span class="btn-text">Comment</span>
                        </button>
                    </div>
                    <div>
                        <button class="btn" onclick='prepForSharing({{post.id}})'>
                            <span class="btn-icon">📩</span>
                            <span class="btn-text">Share</span>
                        </button>
                    </div>
                </div>
            </div>
            <script>
            isLiked({{post.id}});



            </script>
            {%endif%}
            {% endfor %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="rightBorder"></div>

</div>
<div class="foot">This page is still a work in progress</div>
</div>
{% endblock %}