{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <br>
    <link rel="stylesheet" href="{% static 'user_profile/index.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        function follow(){
            $.ajax({
        url: 'follow_user',
        data: {
          'target': document.getElementById("username").innerText
        },
        dataType: 'json',
        success: function (data) {
          if (data.message) {
            alert(data.message);
          }
        }
      });
        }

        function friend(){
            $.ajax({
        url: 'friend_request_user',
        data: {
          'target': document.getElementById("username").innerText
        },
        dataType: 'json',
        success: function (data) {
          if (data.message) {
            alert(data.message);
          }
        }
      });
        }

    </script>
    <div class="gridLayout">
        <div class="leftBorder"></div>
        <div class="middle">
            <div class="topInfo">
                {% if user %}
                <div class="c_icon"><img class ="icon" src="{{user.profile.photo.url }}"></div>
                <div class="names">
                    <h1 id="name">{{user.profile.first_name}} {{user.profile.last_name}}</h1>
                    <h2 id="username">{{user.username}}</h2><span class="account_type">{% if artist%}Artist{%else%}Fan{%endif%}</span>
                    <h3>following:<span id="following"> {{user.profile.following}} </span>
                        {% if artist %}
                        • followers: <span id="followers"> NAN </span></h3>
                        {% endif %}
                        
                        
                        <script type="text/javascript" >
                            if("{{artist}}"){
                                var a = parseInt("{{followers}}");
                                console.log(a);
                                if(a < 1000){
                                    document.getElementById("followers").innerHTML =a;
                                } else if(a > 1000 && a < 1000000){
                                    document.getElementById("followers").innerHTML = (a/1000).toPrecision(2) + "K";
                                } else if(a> 1000000){
                                    document.getElementById("followers").innerText = (a/1000000).toPrecision(2) + "M";
                                }
                            }
                            var a = parseInt("{{following}}");
                            console.log(a);
                            if(a < 1000){
                                document.getElementById("following").innerHTML =a;
                            } else if(a > 1000 && a < 1000000){
                                document.getElementById("following").innerHTML = (a/1000).toPrecision(2) + "K";
                            } else if(a> 1000000){
                                document.getElementById("following").innerText = (a/1000000).toPrecision(2) + "M";
                            }
                        </script>
                        <button type="button" onclick="follow()">Follow +</button>
                        <button type="button" onclick="friend()">Friend +</button>
                    </div>
                    <br>
                    <div class="bio">
                        Bio:
                        <p id="bio">{{user.profile.bio}}</p>
                    </div>
                    {% else %}
                    User not found? 
                    Make sure the username in the url matches who you're looking for!
                    {% endif %}
                </div>
                <br>
                <br>
                <div class="posts">
                    {% if user %}
                        {% if artist %}
                        {% for post in posts %}
                            <div class ="post">
                                    <div class= "post_header">
                                        <img class ="post_icon" src="{{user.profile.photo.url }}"> 
                                        <a class="post_username" href="">{{user.username}}</a> 
                                        <span class="date">{{post.date_posted}}</span>
                                </div>
                                {% if post.pic %}
                                <div class = "post_content">
                                    <img class ="" src="{{post.pic.url}}"> 
                                </div>
                                {%endif%}
                                <div class="post_text">
                                    <p>{{post.description}}</p>
                                </div>
                                <div class= "post_interactables">
                                    <div>❤Like</div> <div>💬Comment</div> <div>📩Share</div>
                                </div>
                            </div>
                        {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="rightBorder"></div>
            
        </div>
        <div class="foot">This page is still a work in progress</div>
    </div>
    {% endblock %}